.LoadSpinner {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 2rem;
}

.LoadSpinner.loading {
  background-color: rgba(0, 0, 0, 0.60);
}

.LoadSpinner.loaded {
  display: none;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}

.LoadSpinner img {
  height: 10rem;
  animation: spin 5s linear 0s infinite alternate;
  -webkit-animation: spin 5s linear 0s infinite alternate;
}
